<mat-toolbar class="mat-elevation-z4">
    <button (click)="toggle()" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <i class="material-icons">menu</i>
    </button>
    <span>Xing</span>
    <span class="example-spacer"></span>
    <button routerLink="add-customer" mat-raised-button color="primary"
        aria-label="Example icon-button with heart icon">
        <i class="material-icons">add</i>
        Customer
    </button>
    <button routerLink="add-product" mat-raised-button color="primary"
        aria-label="Example icon-button with heart icon">
        <i class="material-icons">add</i>
        Product
    </button>
    <button routerLink="add-category" mat-raised-button color="primary"
        aria-label="Example icon-button with heart icon">
        <i class="material-icons">add</i>
        Category
    </button>
</mat-toolbar>