.container {
    padding: 5rem 10rem 0 10rem;
}

.form{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 2rem;
}

mat-form-field {
    flex: 1 0 44%;
}

::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled){
    background-color: #fff;
}

button{
    float: right;
    width: 10rem;
    height: 2.4rem !important;
    flex: 0 1 24%;;
}

.table{
    padding-block: 3rem;
}

.actions{
    display: flex;
    gap: 1rem;
    align-items: center;
    height: 3.25rem;
    width: 10rem;
}