<div class="container">
    <form class="form" [formGroup]="form" #formDirective="ngForm">
        <mat-form-field class="full-width">
            <mat-label>Primeiro Nome: </mat-label>
            <input type="text" formControlName="firstName" matInput placeholder="Digite seu primeiro nome" />
        </mat-form-field>
        <mat-form-field class="full-width">
            <mat-label>Último Nome: </mat-label>
            <input type="text" formControlName="lastName" matInput placeholder="Digite seu último nome" />
        </mat-form-field>
        <mat-form-field class="full-width">
            <mat-label>CPF: </mat-label>
            <input type="text" formControlName="cpf" matInput placeholder="Digite seu CPF" />
        </mat-form-field>
        <mat-form-field class="full-width">
            <mat-label>Data de Nascimento: </mat-label>
            <input type="date" formControlName="birthDate" matInput placeholder="Digite sua data de nascimento" />
        </mat-form-field>
        <mat-form-field class="full-width">
            <mat-label>Renda Mensal: R$ </mat-label>
            <input type="number" formControlName="monthlyIncome" matInput placeholder="Digite sua renda mensal (R$)" />
        </mat-form-field>
        <mat-form-field class="full-width">
            <mat-label>Email: </mat-label>
            <input type="email" formControlName="email" matInput placeholder="Digite seu email" />
        </mat-form-field>
        <mat-form-field class="full-width">
            <mat-label>Senha: </mat-label>
            <input type="password" formControlName="password" matInput placeholder="Digite sua senha" />
        </mat-form-field>
        <button *ngIf="!editando" type="submit" (click)="saveCustomer(formDirective)" mat-raised-button color="primary">Salvar</button>
        <button *ngIf="editando" type="submit" (click)="editCustomer(formDirective)" mat-raised-button color="primary">Editar</button>
    </form>

    <div class="table">
        <mat-form-field style="width: 100%;">
            <mat-label>Filter</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
        </mat-form-field>

        <table mat-table [dataSource]="(dataSource | async)!" class="mat-elevation-z8">

            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef> Id </th>
                <td mat-cell *matCellDef="let element"> {{element.id}} </td>
            </ng-container>

            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Name </th>
                <td mat-cell *matCellDef="let element"> {{element.firstName }} {{element.lastName}} </td>
            </ng-container>

            <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef> E-mail </th>
                <td mat-cell *matCellDef="let element"> {{element.email}} </td>
            </ng-container>

            <ng-container matColumnDef="cpf">
                <th mat-header-cell *matHeaderCellDef> CPF </th>
                <td mat-cell *matCellDef="let element"> {{element.cpf}} </td>
            </ng-container>

            <ng-container matColumnDef="birthDate">
                <th mat-header-cell *matHeaderCellDef> Birth Day </th>
                <td mat-cell *matCellDef="let element"> {{element.birthDate}} </td>
            </ng-container>

            <ng-container matColumnDef="monthlyIncome">
                <th mat-header-cell *matHeaderCellDef> Monthly Income </th>
                <td mat-cell *matCellDef="let element"> {{element.monthlyIncome}} </td>
            </ng-container>

            <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef> Status </th>
                <td mat-cell *matCellDef="let element"> {{element.status}} </td>
            </ng-container>

            <ng-container matColumnDef="acoes">
                <th mat-header-cell *matHeaderCellDef> Actions </th>
                <td class="actions" mat-cell *matCellDef="let row">
                    <button mat-raised-button (click)="carregarCustomer(row)" color="primary">
                        <i class="material-icons">edit</i>
                    </button>
                    <button mat-raised-button (click)="openDialogConfirm(row.id)" color="warn">
                        <i class="material-icons">delete</i>
                    </button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="4">Não foi encontrado nada com: "{{input.value}}"</td>
            </tr>
        </table>
    </div>

</div>